.wrap {
    width: 290px;
    height: 1650px;
    margin: 0 auto;
}
.travelHEAD {
    width: 305px;
    height: 230px;
    float: top;
    }
    

.pope {
    width: 305px;
    height: 20px;
    float: left;
    text-align: center;   
}

.parkwayHEAD {
    width: 290px;
    height: 490px;
    float: left;
}

.timelineHEAD {
    width: 290x;
    height: 150px;
    float: left;
}

.timeline {
    width: 290px;
    height: 500px;
    float: left
}
.travel {
    width: 960px;
    height: 500x;
    float: top;

}
.parkway{
    width: 290px;
    height: 1825px;
    float: bottom;
}

.point {
	fill: #d8472a;
}

.axis path,
.axis line {
  fill: none;
  stroke: lightgrey;
}
.tooltip {
  position: absolute;
  width: 100px;
  pointer-events: none;
  line-height: 1;
  font-weight: normal;
  font-size: 13px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  text-align: center;
}

body {
  font: 14px sans-serif;
}

h1 { 
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  font-weight: 300;
  color: #333;
  margin-bottom: 10px;
  line-height: 1.2em;;
}

p {
  font-family: 'Arimo', sans-serif;
  font-size: 14px;
  line-height: 1.3em;
  color: #333;
}

.h2 { 
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  font-weight: 300;
  color: #333;
  margin-bottom: 10px;
  line-height: 1.2em;
}

.p {
  font-family: 'Arimo', sans-serif;
  font-size: 13px;
  line-height: 1.3em;
  color: #333;
}
.pbold {
  font-family: 'Arimo', sans-serif;
  font-size: 14px;
  line-height: 1.3em;
  color: #333;
  font-weight: bold


}

.p2 {
  font-family: 'Arimo', sans-serif;
  font-style: italic;
  font-size: 11px;
  line-height: 1.3em;
  color: red;
}


.small {
  font-family: 'Arimo', sans-serif;
  font-size: 12px;
  line-height: 1.3em;
  color: #F7F7F7;
}

.label {
  font-family: 'Arimo', sans-serif;
  font-size: 10px;
  line-height: 1.3em;
  color: #F7F7F7;
  background-color: white;
  font-style: italic;
}
.foot { font-size: 11px; color: #999;}
.foot a { color: #80bee4; text-decoration: none; } 
.spacer { margin-top: 40px; }

.credits {
  font-family: 'Arimo', sans-serif;
  font-size: 12px;
  color: #999;
  margin-top: 10px;
}

